<!DOCTYPE html>
<html>
    <head>
        <title>HAND TRACKING PROJECT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <div class="w3-top">
            <div class="w3-bar w3-black w3-card">
              <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
              <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
              <a href="/dashboard" class="w3-bar-item w3-button w3-padding-large">Dashboard</a>
              <a href="/handTracking" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Hand Tracking</a>
              <a href="/game" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Drawing board</a>
            </div>
        </div>
        <div class="w3-content" style="max-width:2000px;margin-top:46px">
            <img src="/static/img/3409297.jpg" style="width:100%">
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
              <h3>HAND TRACKING PROJECT MADE BY BUI DANG LOC</h3>
              <p><b>THPT Chuyen DHSP</b></p>   
            </div>
          </div>
        </div>
    </body>
</html>
